<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
!pip install bs4
#!pip install requests

Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from beautifulsoup4->bs4) (2.3.1)

## Imports

Import any additional libraries you may need here.

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [3]:
#Write your code here
url = " https://en.wikipedia.org/wiki/List_of_largest_banks"
data = requests.get(url).text

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [4]:
data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [5]:
#Replace the dots below
soup = BeautifulSoup(data, "html.parser")

In [6]:
tables = soup.find_all('table')

In [7]:
len(tables)

5

In [8]:
title=soup.find(id='By_market_capitalization')

In [9]:
table3 = title.find_parent('table')

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [17]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])
for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    if(col != []):
        col = row.find_all('td')
        Bank_name = str(col[1].text)[0:-1]
        Market_cap = float(col[2].text)
        data = data.append({"Name": Bank_name, "Market Cap (US$ Billion)": Market_cap}, ignore_index =True)
data

                                        Name  Market Cap (US$ Billion)
0                             JPMorgan Chase                   488.470
1                            Bank of America                   401.750
2    Industrial and Commercial Bank of China                   250.383
3                                Wells Fargo                   224.870
4                    China Construction Bank                   257.399
..                                       ...                       ...
66                        Standard Chartered                    37.319
67                      United Overseas Bank                    35.128
68                                 QNB Group                    33.560
69                     Bank Rakyat Indonesia                    33.081
70                                 Axis Bank                    31.680

[71 rows x 2 columns]

**Question 3** Display the first five rows using the `head` function.

In [18]:
#Write your code here
data.head()

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   488.470
1                           Bank of America                   401.750
2   Industrial and Commercial Bank of China                   250.383
3                               Wells Fargo                   224.870
4                   China Construction Bank                   257.399

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [ ]:
#Write your code here

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.